[submodule "data"]
	path = data
	url = https://github.com/autodiag2/database/
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/autodiag2/cJSON
[submodule "pyautodiag/examples/external/TonsenWei_doip-simulator/doip-simulator"]
	path = pyautodiag/examples/external/TonsenWei_doip-simulator/doip-simulator
	url = https://github.com/TonsenWei/doip-simulator
[submodule "pyautodiag/examples/external/jacobschaer_python-uds/python-uds"]
	path = pyautodiag/examples/external/jacobschaer_python-uds/python-uds
	url = https://github.com/jacobschaer/python-uds/
