libs/
*~
**/*~
**/#**#
TODO
*.swp
experiments/
build/
dist/debian/autodiag*
dist/debian/DEBIAN/
autodiag.exe
__pycache__
autodiag
*.so
*.dylib
*.dll
private-doc
*.whl
*.exe
*.dmg
*.deb
autodiag_*.buildinfo
