Source: autodiag
Maintainer: autodiag

Package: autodiag
Section: electronics
Priority: optional
Architecture: amd64
Maintainer: autodiag
Description: OBD-II diagnostic tool
 A tool to diagnose and repair your car by your self. This include:
  - Reading & clearing diagnostic trouble codes
  - Exploring vehicle properties
  - Terminal console
