#!/usr/bin/make -f

include properties.mk

SRC_DIR=$(CURDIR)/debian/
BUILD_DIR=$(CURDIR)/debian/$(APP_NAME)/
BUILD_BIN=$(BUILD_DIR)/usr/bin/
BUILD_SHARE=$(BUILD_DIR)/usr/share/$(APP_NAME)

build:
	make default

binary:
	mkdir -p $(BUILD_DIR) $(BUILD_BIN) $(BUILD_SHARE) $(BUILD_DIR)/DEBIAN/

	install -m 755 ./bin/$(APP_NAME) $(BUILD_BIN)
	cp -r ui $(BUILD_SHARE)
	cp -r media $(BUILD_SHARE)
	cp -r data/data $(BUILD_SHARE)
	chmod 777 $(BUILD_SHARE)/*

	dpkg-gencontrol -c$(SRC_DIR)/control -v$(APP_VERSION) -USource -O$(SRC_DIR)/$(APP_NAME)/DEBIAN/control

	dpkg-deb --build $(BUILD_DIR) ../$(APP_NAME)_$(APP_VERSION)_$(APP_ARCH).deb

clean:

done:
	rm -fr $(BUILD_DIR)
	rm $(SRC_DIR)/files
