.button-hover-react {
	opacity: 0.4;
}
.button-hover-react:hover {
	opacity: 1;
}
.row-grey {
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 5px;
}
.row-white {
	background-color: #dddddd;
	border-radius: 5px;
	padding: 5px;
}
.options-title {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}